<style>
    .fh5co-footer {
        background-color: #6988a7;
        padding: 20px 0;
        text-align: center;
    }

    .fh5co-footer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .fh5co-footer ul li {
        display: inline-block;
        margin: 0 15px;
    }

    .fh5co-footer a {
        color: #fff;
        font-size: 24px;
        transition: color 0.3s ease;
    }

    .fh5co-footer a:hover {
        color: #3498db;
    }

    .social-icons i {
        padding: 10px;
        border: 2px solid #fff;
        border-radius: 50%;
        transition: all 0.3s ease;
    }

    .social-icons i:hover {
        color: #3498db;
        border-color: #3498db;
        background-color: #fff;
    }

    .fh5co-footer .social-icons li a i {
        font-size: 20px;
    }

    .fh5co-footer {
        font-family: 'Arial', sans-serif;
    }
</style>

<aside id="fh5co-aside" role="complementary" class="border js-fullheight">

    <h1 id="fh5co-logo"><a href="#!/"><img src="images/preview.webp" class="img-circle" width="112px" height="112px" alt="Free HTML5 Bootstrap Website Template"></a></h1>
    <nav id="fh5co-main-menu" role="navigation">
        <ul>
            <li class=""><a href="#!/">Trang chủ</a></li>
            <li><a href="#!/portfolio">Portfolio</a></li>
            <li><a href="#!/about">About</a></li>
            <li><a href="#!/contact">Contact</a></li>
        </ul>
    </nav>

    <div class="fh5co-footer">
        <ul class="social-icons">
            <li><a href="https://www.facebook.com/profile.php?id=100041178210050&mibextid=ZbWKwL" target="_blank"><i
                        class="icon-facebook"></i></a></li>
            <li><a href="https://zalo.me/0926546260" target="_blank"><i class="icon-phone"></i></a></li>
            <li><a href="https://github.com/Xuanvinh223" target="_blank"><i class="icon-github"></i></a></li>
            <li><a href="https://xuanvinh223.github.io/information/" target="_blank"><i class="icon-globe"></i></a></li>
        </ul>
    </div>


</aside>